<!DOCTYPE html>
<html>
<head>
    <title>All Users</title>
</head>
<body>

    <ul>
        <li>
            <h3>Username: <%= user.name %></h3>
            <p>Age: <%= user.age %></p>
            <p>Email: <%= user.email %></p>
        </li>
    </ul>
</body>
</html>

